.user-page {
  padding: 2rem;
}
.user-container {
  border: 1px solid var(--myColor);
  max-width: 20rem;
  margin: 4rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem;
  min-height: 15rem;
}
.user-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-action-btn {
  padding: 0.2rem;
  min-width: 10rem;
  margin: 0.2rem;
  box-shadow: none;
}
