.playlists-page {
  padding: 1rem;
}
.playlist-container {
  margin-left: 6rem;
}
.video-playlists {
  list-style-type: none;
  padding: 0.5rem;
}
.video-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 97%;
  width: 50%;
  background-color: var(--mygrey);
  opacity: 0.9;
}
.playlist-count {
  display: flex;
  width: 2rem;
  z-index: 2;
  position: absolute;
  top: 4rem;
  right: 2.5rem;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .playlist-container {
    margin-left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
